page-dashboard {
.hidden-div{
    color:black;
    display: block;
    min-height: 100px;
    height: 100px;
}

    .xpert-date{
        margin-top: 5px;
        color: #4c6df9;
        border: #4c6df9 1px solid;
        padding: 4px;
        border-radius: 4px;
        display: block;
    }
    
}
