<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Dashboard</strong>
    </ion-title>
    <ion-buttons end>
      
      <button ion-button tappable>
        <ion-icon  *ngIf="!isLoading" name="sync" (click)="setDataChart()"></ion-icon>
        <ion-spinner *ngIf="isLoading"  color="light" name="crescent">
          </ion-spinner>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  
  <div style="margin-top:20px;display:block;" text-center>
    <h5 align-center>Marge par vendeur</h5>
    <canvas width="800" height="600" #margeCanvas ></canvas>
  </div>
  <div style="display:block;" text-center>
    <h5 align-center>Totale Vente</h5>
    <canvas width="800" height="600" #totaleVenteCanvas></canvas>
  </div>
  <div style="display:block;" text-center>
    <h5 align-center>Totale Achat</h5>
    <canvas width="800" height="600" #totaleAchatCanvas></canvas>
  </div>



  <ion-row class="hidden-div">

  </ion-row>
</ion-content>
<ion-pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState" class="tab-footer">
  <!--  <ion-pullup-tab [footer]="pullup" color="white" class="tab-footer" (tap)="toggleFooter()">
    <ion-icon color="primary" name="arrow-up" *ngIf="footerState == 0"></ion-icon>
    <ion-icon color="primary" name="arrow-down" *ngIf="footerState == 1"></ion-icon>
  </ion-pullup-tab> -->
  <ion-toolbar color="white">
    <ion-slides>
      <ion-slide>
        <ion-segment no-border-top [(ngModel)]="raccourci_date" color="secondary" (ionChange)="onRaccourciDateChange()">
          <ion-segment-button value="annee">
            annee
          </ion-segment-button>
          <ion-segment-button value="mois">
            mois
          </ion-segment-button>
          <ion-segment-button value="jour">
            jour
          </ion-segment-button>
        </ion-segment>
      </ion-slide>
      <ion-slide>
        <ion-row>
          <ion-col>
            <span ion-datepicker [modalOptions]="" [localeStrings]="{weekdays: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Vend', 'Sam'],
            months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']}"
              (ionChanged)="setDateDebut($event);" [(value)]="localDateDebut" clear class="ScheduleDate">

              <span class="xpert-date" float-right> {{localDateDebut | date : 'dd-MM-y'}} </span>
            </span>
          </ion-col>
          <ion-col>
            <span ion-button color="primary">
              <ion-icon name="arrow-round-forward"></ion-icon>
            </span>
          </ion-col>
          <ion-col>
            <span ion-datepicker [modalOptions]="" [okText]="Ok" [cancelText]="Annuler" [locale]="fr-FR" (ionChanged)="setDateFin($event);"
              [min]="localDateDebut" [(value)]="localDateFin" clear class="ScheduleDate">
              <span class="xpert-date" float-left> {{localDateFin | date : 'dd-MM-y'}}</span>
            </span>
          </ion-col>
        </ion-row>
      </ion-slide>

    </ion-slides>
  </ion-toolbar>
</ion-pullup>