<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Accueil</strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="sync()">
        <ion-icon name="sync"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="animated fadeIn common-bg">
  <ion-card class="border-bottom">
    <ion-item tappable class="border-bottom ">
      <span ion-text>
        <strong>Session </strong>
      </span>
    </ion-item>
    <div *ngIf="!showSession" text-center>
      <ion-spinner > </ion-spinner>
    </div>  
    <ion-grid *ngFor=" let sess of session" (press)="showSessionDetail(sess.ID_CAISSE)">
      <ion-row>
        <ion-col>
          <span ion-text class="text-big" color="black">Utilisateur</span>
        </ion-col>
        <ion-col float-right>
          <strong ion-text class="text-big" float-right>{{ sess.DEBUTEE_PAR }} </strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong class="text-sm">Compte</strong>
        </ion-col>
        <ion-col float-right>
          <strong class="text-sm" float-right>{{ sess.DESIGN_COMPTE }}</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8>
          <strong class="text-sm">Montant Encaisser </strong>
        </ion-col>
        <ion-col>
          <strong ion-text class="text-sm" color="danger" float-right>{{ sess.MONT_ENCAISSEMENT | xpertCurrency }}
          </strong>
        </ion-col>
        <hr size=1 align="center" width="60%">
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="border-bottom">
    <ion-item tappable class="border-bottom ">
      <span ion-text>
        <strong>Encaissements</strong>
      </span>
    </ion-item>
    <ion-grid no-padding margin-top>
      <ion-list>
        <ion-item>
          <div>
            <h4 text-center> Aujourd'hui </h4>
            <ion-row margin-top>
              <ion-col class="text-sm" width-70>
                <span ion-text color="primary">
                  <strong>Encaissement </strong>
                </span>
              </ion-col>
              <ion-col class="text-sm" width-10 text-right>
                <span ion-text color="primary">
                  <strong>{{ doughnutChartData[1]| xpertCurrency :2}} </strong>
                </span>
              </ion-col>
            </ion-row>
            <ion-row margin-top>
              <ion-col class="text-sm" width-70>
                <span ion-text color="danger">
                  <strong>Decaissement </strong>
                </span>
              </ion-col>
              <ion-col class="text-sm" width-10 text-right>
                <span ion-text color="danger">
                  <strong>{{ doughnutChartData[0] | xpertCurrency : 2 }} </strong>
                </span>
              </ion-col>
            </ion-row>
          </div>
        </ion-item>
      </ion-list>
    </ion-grid>
  </ion-card>
  <div style="display: block">
    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
      (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
    </canvas>
  </div>
  <ion-card class="border-bottom">
    <ion-item tappable class="border-bottom">
      <span ion-text>
        <strong>Comptes</strong>
      </span>
    </ion-item>
    <ion-grid class="" no-padding margin-top>
      <ion-list>
        <ion-item>
          <div>
            <ion-row *ngFor="let compte of dataCompte">
              <ion-col class="text-sm" width-70>
                <span ion-text color="primary">
                  <strong>{{ compte.DESIGN_COMPTE }} </strong>
                </span>
              </ion-col>
              <ion-col class="text-sm" width-10 text-right>
                <span ion-text color="primary" text-right>
                  <strong>{{ compte.SOLDE_COMPTE | xpertCurrency : 2 }} </strong>
                </span>
              </ion-col>
            </ion-row>
          </div>
        </ion-item>
      </ion-list>
    </ion-grid>
  </ion-card>
  <ion-fab bottom right #fabAddEncaiss>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button color="danger" ion-fab (click)="addEncaissementPage('DEC',fabAddEncaiss)">
        <ion-icon name="remove"></ion-icon>
      </button>
      <button ion-fab color="green" (click)="addEncaissementPage('ENC',fabAddEncaiss)">
        <ion-icon color="white" name="add"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>