<!--
  Generated template for the EncaissementsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>{{ method }} {{ title }}</ion-title>
        <ion-buttons left>
            <button ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form #f="ngForm" class="list-form" (ngSubmit)="validate()">
        <ion-list>
            <!--  <ion-item>
                <ion-label>Date</ion-label>
                <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" value="" ng-model [(ngModel)]="dateEncaiss" name="dateEncaiss"
                    required></ion-datetime>
            </ion-item> -->
            <ion-item>
                <span ion-datepicker [modalOptions]="" (ionChanged)="setDate($event);" [(value)]="localDate" clear class="ScheduleDate" float-right>
                    <span> {{localDate | date : 'dd-MM-y'}}
                        <ion-icon name="clipboard" item-left></ion-icon>
                    </span>
                </span>
            </ion-item>
            <ion-item>
                <ion-label>Motif</ion-label>
                <ion-select name="codeMotif" [(ngModel)]="codeMotif" required>
                    <ion-option *ngFor="let motif of motifsList" [value]="motif.CODE_MOTIF ">
                        {{ motif.DESIGN_MOTIF }}
                    </ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Caisse</ion-label>
                <ion-select name="codeCompte" [(ngModel)]="codeCompte" required>
                    <ion-option *ngFor="let caisse of caissesList" [value]="caisse.CODE_COMPTE">
                        {{ caisse.DESIGN_COMPTE }}
                    </ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Tiers</ion-label>
                <select-searchable item-content name="tiers" [(ngModel)]="tiers" [items]="listTiers" itemValueField="CODE_TIERS" itemTextField="NOM_TIERS"
                    [canSearch]="true" (onChange)="tiersChange($event)">
                </select-searchable>
            </ion-item>
            <ion-item>
                <ion-label>Montant : </ion-label>
                <ion-input name="totalEncaiss" type="number" placeholder="entrez le montant" [(ngModel)]="totalEncaiss" required></ion-input>
            </ion-item>
            <button ion-button icon-start block color="dark" type="submit" [disabled]="!f.valid">
                <ion-icon name="add"></ion-icon>
                {{ method }}
            </button>
        </ion-list>
    </form>
</ion-content>