<!-- Generated template for the EncaissComponent component -->
<ion-row>
  <ion-col>
      <span ion-text class="text-big" color="black">{{encaissement.DESIGN_MOTIF | titlecase}} </span>
  </ion-col>
  <ion-col float-right>
      <strong ion-text class="text-big" color="danger" float-right>{{encaissement.TOTAL_ENCAISS |
          xpertCurrency}}
      </strong>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <strong class="text-sm">{{ encaissement.DESIGN_COMPTE | titlecase }} </strong>
  </ion-col>
  <ion-col float-right>
      <strong class="text-sm" float-right>{{encaissement.DATE_ENCAISS | date : "dd-MM-y,HH:mm:ss"
          }}</strong>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col col-8>
      <strong class="text-sm">{{encaissement.NOM_TIERS | titlecase}} </strong>
  </ion-col>
  <ion-col>
      <strong ion-text class="text-sm" float-right>{{encaissement.CREATED_BY | titlecase}}</strong>
  </ion-col>
  <hr size=1 align="center" width="80%">
</ion-row>