page-encaissements,
.small-text {
    font-size:0.6em;
}
.text-sm {
    font-size:0.80em;
    font-weight: 600;
    color: black;
}
.text-big {
    font-size:1.2em;
    font-weight: 900;
}

.encaiss{
   margin-bottom: 4px;
   padding: 0px; 
}
 ion-row{
    padding: -2px;
    margin: -3px;
    padding-left: 7px;
}
.border-encaiss{
    border-left: 3px solid rgba(0, 230, 64, $alpha: 0.7);   
    border-radius: 2px;
}
.border-decaiss{
    border-left: 3px solid #f53d3d;   
    border-radius: 2px; 
}
#btn_show_menu{
    margin-top: -8px;
}
#liste_encaissement{
    margin-top: 4px;
}