page-encaissements,
.small-text {
    font-size:0.6em;
}
.border-encaiss{
    border-left: 3px solid rgba(40,140,10, $alpha: 0.4);
}
.border-decaiss{
    border-left: 3px solid rgba(200,0,0, $alpha: 0.8);    
}