<!-- Generated template for the MenuFilterComponent component -->

<div class="container">
  <button ion-button small outline class="btnCorner right-corner" color="danger" float-right (click)="close()">
    <ion-icon ios="ios-close" md="md-close"></ion-icon>
  </button>
  <ion-list>
    <ion-item>
      <span ion-datepicker [modalOptions]="" [localeStrings]="{weekdays: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Vend', 'Sam'],
      months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']}"
        (ionChanged)="setDateDebut($event);" [(value)]="localDateDebut" clear class="ScheduleDate">
        <ion-icon name="calendar"></ion-icon>
        <span float-right> {{localDateDebut | date : 'dd-MM-y'}}</span>
      </span>
    </ion-item>
    <ion-item>
      <span ion-datepicker [modalOptions]="" [okText]="Ok" [cancelText]="Annuler" [locale]="fr-FR" (ionChanged)="setDateFin($event);"
        [min]="localDateDebut" [(value)]="localDateFin" clear class="ScheduleDate">
        <ion-icon name="calendar"></ion-icon>
        <span float-right> {{localDateFin | date : 'dd-MM-y'}}</span>
      </span>
    </ion-item>
    <ion-item>
      <ion-label floating>Compte</ion-label>
      <ion-select name="codeCompte" [(ngModel)]="codeCompte" interface="popover" required>
        <ion-option value="all">
          Tous
        </ion-option>
        <ion-option *ngFor="let compte of compteList" [value]="compte.CODE_COMPTE">
          {{ compte.DESIGN_COMPTE }}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Motif</ion-label>
      <select-searchable item-content searchPlaceholder="motif" [focusSearchbar]="true" name="Motif" [(ngModel)]="motif"
        [items]="listMotifs" itemValueField="CODE_MOTIF" itemTextField="DESIGN_MOTIF" [canSearch]="true">
      </select-searchable>
    </ion-item>
    <ion-item>
      <ion-label floating>Tiers</ion-label>
      <select-searchable item-content name="tiers" [(ngModel)]="tiers" [items]="listTiers" itemValueField="CODE_TIERS"
        itemTextField="NOM_TIERS1" [canSearch]="true" (onChange)="tiersChange($event)">
      </select-searchable>
    </ion-item>
    <ion-item text-center>
      <button ion-button (click)="filter()">
        Appliquer
      </button>
      <button ion-button (click)="desactiver()">
        Desactiver
      </button>
    </ion-item>
  </ion-list>
</div>